<div class="wrapper">
    <nav-bar></nav-bar>
    <div class="container-of-everything">
    	<side-bar></side-bar>
	    <div class="content-wrapper">
	    	<div class="col-md-12">
	        <!-- Content Header (Page header) -->
		        <section class="content-header">
		          <h1>
		            Informacion
		            <small>Detalles</small>
		          </h1>
		        </section>

		        <!-- Main content -->
		        <section class="content">
				    <div class="box box-default">
				        <div class="box-body">            
				            <div class="row top5">  
				            	<div class="col-md-12"> 
				            		<general-table type="type" headers="headers" data="tableData"></general-table>
				            	</div>
				            </div>
				        </div><!-- /.box-body --> 
			      	</div><!-- /.box box-default -->      
		      	</section><!-- /.content -->
	      	</div><!-- /.container -->
	  	</div>  <!-- /.content-wrapper -->
	</div>
  	<footer class="main-footer">
	    <div class="pull-right hidden-xs">
	      <b>Version</b> 1.0
	    </div>
	    <strong>Copyright &copy; 2017 <a href="#">Asistencia</a> </strong> All rights reserved.
	    reserved.
 	</footer>
</div>