<!-- Left side column. contains the logo and sidebar -->
<aside id="sidebar" class="main-sidebar" aria-expanded="true">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree">
      <li class="header">UNIVERSIDAD CAECE MAR DEL PLATA</li>
      <li id="usuarios" ng-class="{active: activeMenu == 'usuarios'}">
        <a href="#!/usuarios">
          <i class="fa fa-th"></i>
          <span>Usuarios</span>
        </a>
      </li>
      <li id="alumnos" ng-class="{active: activeMenu == 'alumnos'}">
        <a href="#!/alumnos">
          <i class="fa fa-th"></i>
          <span>Alumnos</span>
        </a>
      </li>
      <li id="carrera" ng-class="{active: activeMenu == 'carreras'}">
        <a href="#!/carreras">
          <i class="fa fa-th"></i>
          <span>Carreras</span>
        </a>
      </li>
      <li id="docasign" ng-class="{active: activeMenu == 'docenteasignado'}">
        <a href="#!/docentes-asignados">
          <i class="fa fa-th"></i>
          <span>Docentes Asignados</span>
        </a>
      </li>
      <li id="dictados" ng-class="{active: activeMenu == 'dictados'}">
        <a href="#!/dictados">
          <i class="fa fa-th"></i>
          <span>Dictados</span>
        </a>
      </li>
      <li id="docentes" ng-class="{active: activeMenu == 'docentes'}">
        <a href="#!/docentes">
          <i class="fa fa-th"></i>
          <span>Docentes</span>
        </a>
      </li>
      <li id="inscriptos" ng-class="{active: activeMenu == 'inscriptos'}">
        <a href="#!/inscriptos">
          <i class="fa fa-th"></i>
          <span>Inscriptos</span>
        </a>
      </li>
      <li id="materias" ng-class="{active: activeMenu == 'materias'}">
        <a href="#!/materias">
          <i class="fa fa-th"></i>
          <span>Materias</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Home tab content -->
  <div class="tab-pane" id="control-sidebar-home-tab" style="background-color: yellow;"></div>
</aside>